/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* Seção Sobre */
.sobre {
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
}

.sobre p {
    font-size: 18px;
}

/* Seção de Carros */
.carros {
    padding: 20px 0;
}

.carros h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.car-card {
    display: inline-block;
    width: 22%;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.car-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.car-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.car-card p {
    font-size: 16px;
    color: #333;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}